
img[src*='SpaceInvaders'] {
  height: 50px;
}
 
img[src*='ATM'] {
  height: 100px;
}

h2 {
  background-color: red; 
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
