
img[src*='SpaceInvaders'] {
  height: 50px;
}
 
img[src*='ATM'] {
  height: 100px;
}

.me{
  float: right;
}

h2 {
  background-color: red; 
}

body {
  background-image: url('backgrond.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
